.query-box {
    padding: 0 20px; 
    margin-top: 20px; 
    border-bottom: 2px solid #3999CC; 
}

.query-title {
    float: left; 
    padding: 10px 0; 
}

.query-select {
    margin-left: 50px; 
}

.query-select ul {
    display: inline-block; 
    margin: 0; 
    padding: 0; 
}

.query-select ul li {
    display: inline; 
    list-style: none; 
}

.query-select ul li:after {
    content: "|"; 
}

.query-select ul li:last-child:after {
    content: ""; 
    color: #777; 
}

.query-select ul li a {
    text-decoration: none; 
    margin: 10px; 
    display: inline-block; 
    color: #777; 
}

.query-select ul li.active a {
    color: #3999CC; 
}

.query-line {
    margin: 20px 0; 
    color: #777; 
}

.result {
    margin: 20px; 
}

.result-title {
    text-align: center; 
    color: #3999CC; 
    margin: 10px 0; 
}

.result-title h2 {
    font-weight: normal; 
    font-size: 18px; 
}

.result-list ul {
    margin: 0; 
    padding: 0; 
}

.result-list ul li {
    float: left;
    list-style: none;
}

.result-list ul li a {
    margin: 5px; 
    margin-left: 0; 
    display: inline-block; 
    text-decoration: none; 
    color: #3999CC; 
}

.classroom-list ul {
    text-align: center; 
}

.result-meta h3 {
    font-weight: normal; 
    font-size: 12px; 
    -webkit-text-size-adjust: 100%; 
}

.result-meta .building {
    color: #3999CC; 
}

.classroom-list {
    margin: 10px 0; 
}

.classroom-list li span {
    margin-right: 10px; 
    display: inline-block; 
}

.back-btn {
    margin: 20px 10px; 
}

.back-btn > .btn {
    margin-left: 10px; 
}

.page-title {
    margin: 0 10px; 
    color: #3999CC; 
}

.page-title h2 {
    font-weight: normal; 
    padding: 10px 0 0 0; 
}

.checkin {
    margin: 10px; 
}

.checkin textarea {
    width: 100%; 
    border: 1px solid #3999CC; 
    outline: none; 
    background: transparent;
    height: 100px; 
    max-height: 100px; 
    min-height: 100px; 
    line-height: 27px; 
    font-size: 17px; 
}

.btn {
    display: block; 
    padding: 15px 30px;
    line-height: 17px; 
    text-decoration: none; 
    color: white; 
    background-color: #3999CC; 
    border: none;
    outline: none; 
}

.btn:hover {
    text-decoration: none; 
    color: white; 
}

.btn.btn-small {
    padding: 10px 20px; 
}

.btn.btn-gray {
    background-color: #777; 
}

.btn:visited {
    color: white; 
}

.form-control {
    margin: 10px 0;
}

.l {
    float: left; 
}

.r {
    float: right; 
}

.green {
    color: #74b34d; 
}

.checkin-show {
    border-top: 2px solid #3999CC; 
}

.checkin-list {
    margin: 0 10px; 
    list-style: none; 
    padding: 0; 
    border-bottom: 1px solid #3999CC; 
}

.checkin-status {
    border-top: 1px solid #3999CC; 
    padding: 10px 0; 
    min-height: 50px; 
}

.checkin-status .checkin-user-avatar {
    float: left; 
}

.checkin-status .checkin-message {
    margin-left: 60px; 
}

.checkin-status .checkin-meta {
    font-size: 0.85em; 
}

.checkin-status .checkin-meta .checkin-username {
    color: #777; 
}

.checkin-status .checkin-meta .date {
    color: #3999CC; 
}

.checkin-status .checkin-message-body {
    margin-top: 5px; 
}

.checkin-nobody {
    text-align: center; 
}
.checkin-nobody a {
    text-decoration: none; 
    color: #3999CC; 
}

.checkin-meta .sendmessage a {
    color: #3999CC; 
    text-decoration: none; 
}
