{% extends "query.html" %}

{% block breadcrumb %}
<span><a href="/">校门口</a></span>
<span class="sep"></span>
<span>自习室</span>
{% endblock %}

{% block result %}
<div class="result">
    <div class="result-title">
        <h2>查询结果</h2>
    </div>
    <div class="result-body">
    {% for campus in university.campuses %}
    {% if university.campuses | length > 1 %}
        <div class="result-campus">{{ campus.name }}</div>
    {% endif %}
        <ul class="result-list">
    {% for building in campus.buildings %}
            <li>
                <a href="/{{ university.no}}/building/{{ building.no }}/{{ query_date.isoformat() }}/{{ query_class }}">{{ building.name }}({{ count[building.id] }})</a>
            </li>
    {% endfor %}
        </ul>
    {% endfor %}
    </div>
</div>
{% endblock %}
