{% extends "layout.html" %}

{% block content %}
{% include 'select-form.html' %}
<div class="query-detail">
    <span>{{ query_date | format_date }}{{ query_class | format_class }}</span>
</div>
<div class="result-title">
    <h2>教室列表</h2>
</div>
<div class="result-body">
    <div class="result-campus">{{ building.name }}</div>
    <ul class="result-list">
    {% for c in classrooms %}
        <li>
            <a href="/{{ university.no }}/classroom/{{ c.no }}?date={{ query_date.isoformat()}}&class={{ query_class }}">{{ c.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="back-btn">
    <a href="/{{ university.no }}/buildings/{{ query_date.isoformat() }}/{{ query_class }}">返回教学楼列表</a>
</div>
{% endblock %}
