{% extends "query.html" %}

{% block breadcrumb %}
<span><a href="/">校门口</a></span>
<span class="sep"></span>
<span><a href="/">自习室</a></span>
<span class="sep"></span>
<span>{{ building.name }}</span>
{% endblock %}

{% block result %}
<div class="result">
    <div class="result-title">
        <h2>查询结果</h2>
    </div>
    <div class="result-body">
        <ul class="result-list">
        {% for c in classrooms %}
            <li>
                <a href="/{{ university.no }}/classroom/{{ c.no }}?date={{ query_date.isoformat()}}&class={{ query_class }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block backbtn %}
<div class="back-btn">
    <a href="/{{ university.no }}/buildings/{{ query_date.isoformat() }}/{{ query_class }}">« 返回</a>
</div>
{% endblock %}
