{% extends "layout.html" %}

{% block content %}
{% include 'select-form.html' %}
<div class="result-title">
    <h2>教学楼列表</h2>
</div>
<div class="result-body">
{% for campus in university.campuses %}
{% if university.campuses | length > 1 %}
    <div class="result-campus">{{ campus.name }}</div>
{% endif %}
    <ul class="result-list">
{% for building in campus.buildings %}
        <li>
            <a href="/{{ university.no}}/building/{{ building.no }}/{{ query_date.isoformat() }}/{{ query_class }}">{{ building.name }}({{ count[building.id] }})</a>
        </li>
{% endfor %}
    </ul>
{% endfor %}
</div>
{% endblock %}
