{% extends "layout.html" %}

{% block content %}
{% include 'select-form.html' %}
<div class="result-title auto-width-arrow">
    <span class="left-arrow"></span>
    <span>{{ query_date | format_date | safe }}&nbsp;<strong>{{ query_class | format_class }}</strong>&nbsp;<strong>可自习</strong>&nbsp;教室列表</span>
    <span class="right-arrow"></span>
</div>
<div class="result-body">
    <div class="result-campus">{{ building.name }}</div>
    <ul class="result-list">
    {% for c in classrooms %}
        <li>
            <a href="/{{ university.no }}/classroom/{{ c.id }}?date={{ query_date.isoformat()}}&class={{ query_class }}">{{ c.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="back-btn">
    <a href="/{{ university.no }}/buildings/{{ query_date.isoformat() }}/{{ query_class }}">返回教学楼列表</a>
</div>
{% endblock %}
