{% extends "layout.html" %}

{% block breadcrumb %}
<span><a href="/">校门口</a></span>
<span class="sep"></span>
<span><a href="/">自习室</a></span>
<span class="sep"></span>
<span><a href="/{{ university.no }}/building/{{ classroom.building.no }}/{{ query_date }}/{{ query_class }}">{{ classroom.building.name }}</a></span>
<span class="sep"></span>
<span>{{ classroom.name }}</span>
{% endblock %}

{% block body %}
<div class="legend">
    <img src="{{ '/static/img/legend.png' | s_files }}"  height="76px" />
</div>
<div class="result-calendar">
    <table class="classroom-calendar">
        <thead>
            <tr>
                <th class="lesson-number">&nbsp; </th>
                {% for o in occupations %}
                <th>{{ o[1] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(1, 12) %}
            <tr>
                <td class="lesson-number">{{ i }}</td>
                {% for o in occupations %}
                <td {% if i not in o[2] %}class="nofree" title="有课"{% else %}title="可自习"{% endif %}>&nbsp;</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="back-btn">
    <a href="/{{ university.no }}/building/{{ classroom.building.no }}/{{ query_date }}/{{ query_class }}">« 返回</a>
</div>
{% endblock %}
