{% extends "layout.html" %}

{% block body %}
<div class="query-wrapper">
    <div class="query-title">
        <h2>查询条件</h2>
    </div>
    <div class="query-body">
        <div class="query-control">
            <label>日期</label>
            <input type="text" name="datepicker" id="datepicker" data-date-format="yyyy-mm-dd" value="{{ query_date }}" readonly />
            <label>时段</label>
            <input type="text" name="lessonpicker" id="lessonpicker" value="{{ query_class }}" readonly />
        </div>
    </div>
</div>
{% block result %}{% endblock %}
{% block backbtn %}{% endblock %}
<script type="text/javascript">
function str2date(str) {
    var dates = new Array(); 
    dates = str.split('-'); 
    return new Date(dates[0], parseInt(dates[1], 10) - 1, parseInt(dates[2], 10) + 1);
}
function oninputchanging() {
    var date = $("#datepicker"), 
        lesson = $("#lessonpicker"), 
        date_val = date.val(), 
        lesson_val = lesson.val(), 
        date_obj = str2date(date_val), 
        now = new Date(), 
        url_array = new Array(); 
    date.removeClass("alert"); 
    lesson.removeClass("alert"); 
    if(["1-2", "3-4", "1-2-3-4", "5-6", "7-8", "5-6-7-8", "9-10", "11", "9-10-11", "1-2-3-4-5-6-7-8-9-10-11"].indexOf(lesson_val) == -1) {
        lesson.addClass("alert"); 
        return false; 
    }
    if(date_obj < now) {
        date.addClass("alert"); 
        return false; 
    }
    url_array = window.location.href.split('/'); 
    url_array.pop(); 
    url_array.pop(); 
    url_array.push(date_val); 
    url_array.push(lesson_val); 
    window.location.href = url_array.join('/'); 
}
$(document).ready(function() {
    $("#datepicker").datepicker() 
        .on('changeDate', oninputchanging); 
    $("#lessonpicker").picker(''+
'<table id="lesson-list">'+
    '<tbody>'+
        '<tr>'+
            '<td data-lesson="1-2-3-4">'+
                '上午'+
            '</td>'+
            '<td data-lesson="1-2">'+
                '1-2'+
            '</td>'+
            '<td data-lesson="3-4">'+
                '3-4'+
            '</td>'+
            '<td data-lesson="1-2-3-4-5-6-7-8-9-10-11" rowspan="3">'+
                '全天'+
            '</td>'+
        '</tr>'+
        '<tr>'+
            '<td data-lesson="5-6-7-8">'+
                '下午'+
            '</td>'+
            '<td data-lesson="5-6">'+
                '5-6'+
            '</td>'+
            '<td data-lesson="7-8">'+
                '7-8'+
            '</td>'+
        '</tr>'+
        '<tr>'+
            '<td data-lesson="9-10-11">'+
                '晚上'+
            '</td>'+
            '<td data-lesson="9-10">'+
                '9-10'+
            '</td>'+
            '<td data-lesson="11">'+
                '11'+
            '</td>'+
        '</tr>'+
    '</tbody>'+
'</table>'); 
    $("#lesson-list td").click(function(e) {
        var $this = $(this); 
        var lessinput = $("#lessonpicker"); 
        lessinput.val($this.data('lesson')); 
    }); 
}); 
</script>
{% endblock %}
