{% extends "layout.html" %}

{% block title %}
校门口 - 自习室
{% endblock %}

{% block nav %}
	<li><a href="http://xiaomen.co">首页</a></li>
	<li><a href="http://library.xiaom.co">图书馆</a></li>
	<li class="select"><a href="http://selfstudy.xiaom.co">自习室</a></li>
{% endblock %}

{% block content %}
	<ul id="time_nav" class="clearfix">
		<li style="border-right: 1px solid #e3eef8;" ><a href="/{{ university }}/buildings">当前时段自习室</a></li>
		<li>其他时段自习室</li>
	</ul>
	<div class="content">
		<p>周{{ select_date.isoweekday() }}，请选择一个时间段：</p>		
		<ul class="clearfix">
		{% for t in time_list %}
			<li style="border-right: 1px solid #e3eef8;">
			<a href="/{{ university }}/buildings/{{ select_date.date().isoformat()}}/{{ t.value }}">{{ t.display }}</a>
			</li>
			{% if loop.index % 2 == 0 %}
			</ul>
			<ul class="clearfix">
			{% endif %}
		{% endfor %}
		</ul>
		<a href="/{{ university }}">返回</a>
	</div>
{% endblock %}

