{% extends "layout.html" %}

{% block title %}
校门口 - 自习室
{% endblock %}

{% block nav %}
	<li><a href="http://xiaomen.co">首页</a></li>
	<li><a href="http://library.xiaomen.co">图书馆</a></li>
	<li class="select"><a href="http://selfstudy.xiaomen.co/hnu">自习室</a></li>
{% endblock %}

{% block content %}
	<div id="result">
		{{ building.name }}, {{ classroom.name }}，以下时段可以自习：
		{% for c in classroom.free_list %}
		<ul id="building_result" class="clearfix">
			<li>{{ c.date.isoweekday() }}: </li>
			{% for t in c.times %}
			<li>{{ t }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
		<span class="content right_border">
			<a href="/{{ university.short_name }}/buildings/{{ query_date }}/{{ query_class }}">返回</a>
		</span>
		<span class="content">
			<a href="/{{ university.short_name }}">自习室首页</a>
		</span>
	</div>
{% endblock %}
