{% extends "layout.html" %}

{% block title %}
校门口 - 自习室
{% endblock %}

{% block nav %}
	<li><a href="http://xiaomen.co">首页</a></li>
	<li><a href="http://library.xiaomen.co">图书馆</a></li>
	<li class="select"><a href="http://selfstudy.xiaomen.co/hnu/buildings">自习室</a></li>
{% endblock %}

{% block content %}
	<ul id="time_nav" class="clearfix">
		<li style="border-right: 1px solid #e3eef8;">
		今天
		</li>
		<li style="border-right: 1px solid #e3eef8;">
		明天
		</li>
		<li>
		后天
		</li>
	</ul>
	<div class="content">
	{{ university }}
	</div>
{% endblock %}

